body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    width: 72vw;
    height: 708px;
    padding-left: 14vw;
    padding-right: 14vw;
}

.card-wrapper {
    background-color: white;
    width: 72vw;
    height: 660px;
    padding-left: 14vw;
    padding-right: 14vw;
}

.quote-wrapper {
    background-color: #E5E7EB;
    width: 72vw;
    height: 567px;
    padding-left: 14vw;
    padding-right: 14vw;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
    display:flex;
    align-items: center;
}

figcaption {
    font-weight: bold;
    text-align: right;
    padding-right: 10vw;
}



.call-to-action-wrapper {
    background-color: white;
    width: 72vw;
    height: 450px;
    padding-left: 14vw;
    padding-right: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #1F2937;
    width: 72vw;
    height: 120px;
    padding-left: 14vw;
    padding-right: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

li {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
}

.header-header-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.links ul {
    display: flex;
    gap: 35px;
}

.hero-content {
    display:flex;
    justify-content: space-between;
    margin-top: 150px;
    align-items: center;
}

.hero-image {
    height: 310px;
    width: 700px;
    background-color: gray;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    height: 270px;
    width: 450px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 5px 30px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
}

.card-holder {
    display: flex;
    justify-content: center;

}

h2 {
    text-align: center;
    color: #1F2937;
    font-size: 52px;
    font-weight: 900;
    margin: 60px;
}

.card {
    width: 210px;
    margin: 50px;
}

.card p {
    color: #1F2937;
    font-size: 22px;
    text-align: center;
}

.card-box {
    height: 210px;
    width: 210px;
    outline: 6px solid #3882F6;
    border-radius: 15px;

}

.call-to-action-box {
    background-color: #3882F6;
    width: 1350px;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.call-to-action-box h3 {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}

.call-to-action-box p {
    color: #E5E7EB;
    font-size: 18px;
    margin-top: 0;
}

.call-to-action-text {
    margin-left: 250px;
}

.call-to-action-box button {
    margin-right: 250px;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 5px 30px;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid #E5E7EB;
}